* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* -----topbar------- */
.topbar {
  display: flex;
  justify-content: space-between;
  background-color: #a30000;
  color: white;
  align-items: center;
  font-size: 14px;
  flex-wrap: wrap;
}
.top-left {
  margin-left: 60px;
}
.top-right {
  margin-right: auto;
}

/* --------navbar------- */
nav {
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
  background-color: #a30000;
  padding-top: 20px;
  
}
.nav-logo {
  margin-top: 10px;
}
ul a {
  padding: 20px ;
  text-decoration: none;
  color: aliceblue;
}
nav ul {
  margin-right: 170px;
}
.logo {
  margin-left: 30px;
  padding-left: 30px;
  color: aliceblue;
}
ul a:hover {
  text-decoration: underline;
  color: rgb(212, 212, 28);
  font-weight: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.carousel slide {
  background-color: #a30000;
}

.about-hero{
    background-image: url(bg_3.jpg);
    height: 30rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.about-con{
    display: flex;
    justify-content: space-between;
}

.left-con{
    background-color: black;
    color: #fff;
    width: 50%;
    display: flex;
    height: 10rem;
    display: flex;
    gap: 50px;
    margin-bottom: 2rem;
   
}

.right-con{
     background-color: rgb(241, 233, 11);
     width: 50%;   
}
.left-content{
    justify-content: space-around;
    margin-left: 2rem;
    margin-top: 2rem;
}

.about-sec{
    display: flex; 
    background-color:black;  
}
.about-img img{
    width: 800px;
}

.about-para{
    text-align: center;
    font-weight: 100px;
    padding-top: 80px;
    color: #fff;
    padding-top: 8rem;
    background: url(bg_4.jpg);
}
.about-para h2{
    font-size: 30px;
    padding-bottom: 20px;
}
.about-para p{
    font-size: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.Our-chef h2{
    justify-content: center;
    

}
.chef-section{
  background: url(bg_4.jpg);
  text-align: center;  
  height: 550px;
}
.title 
{
  color: #fff;
  font-size: 5rem;
  font-family:'Gill Sans', sans-serif;
}
.subtitle{
  font-size: 1.5rem;
  color: #fff;
}

.chef-container{
  display: flex;
  gap: 20px;
  margin-bottom: 50px;
}
.chef-card{
  border: 1px solid red;
  width: 30rem;
}
.chef-card img{
  width: 11rem;
  
}

.chef-card img:hover{
  transform: translateX(-50%);

}
.chef-card h3{
  color: rgb(255, 120, 24);
  font-size: 1rem;
  margin-top: 20px;
  margin-bottom: 10px;
}
.specialist{
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}
.chef-card p{
  color: #fff;
}
.back-img img{
  height: 500px;
  width:100rem;
}